
<div class="about_us_banner">
    	<img src="images/about_us_banner.jpg" alt="" />
        <h2>We Bring Your Dream Home to Reality!</h2>
    </div>
    
    <div class="about_us_section1">
    	<div class="about_section1_img">
        	<img src="images/about_us_img_1.jpg" alt="" />
        </div>
        <div class="about_section1_text">
        	<h1>Who We Are</h1>
        	<p>
            	Homes247.in is the global real estate aggregator aspiring to be on the top of real estate market by offering premier property solutions in the digital world. Trust, Integrity, Excellence and Service (TIES) are the core values which inspires us to serve the top services to our clients. We are a family of passionate real estate professionals enriched with years of excellence in real estate market. Our relationship with the top class builders and strong knowledge in the market makes us stand out of the crowd and enables us to deliver best in class real estate solution for our clients and assist them to buy and create living spaces at the best price.
            </p>
        </div>
    </div>
    
    <div class="about_us_section2">
    	<div class="about_section2_img"><img src="images/about_us_img_2.jpg" alt="" /></div>
        <div class="about_section2_text">
        	<h1>What We Do</h1>
            <p>
            	We connect and engage buyers and sellers 24/7 across India and provide end to end assistance. Our unique process combines a wide range of quality abodes for our clients and our proficient consultant provides the perfect property guidance to enhance the property search until they find their dream home. We delight our valuable customers and handhold them with value added services such as Home loan assistance, Interior consultation, Property Rental management services, Reselling and more. With us, NRI's can relieve the stress on investing their wealth on the right property. We are there round the clock to cater all the requirements of our NRI clients. 
            </p>
        </div>
    </div>
    
    <div class="about_us_section3">
    	<div class="about_section3_img">
        	<img src="images/about_us_img_3.jpg" alt="" />
        </div>
        <div class="about_section3_text">
        	<h1>Our Vision</h1>
            <p>
            	Our motto is to provide the pivotal real estate advisory solution for the neoteric customer and extend one step more for our clients by creating positive and fruitful experiences on their journey to exquisite home.
            </p>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <div class="our_mission_main">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-4 col-md-3 col-sm-3"></div>
                <div class="col-lg-8 col-md-9 col-sm-9">
                	<h1>Our Mission</h1>
                    <p>
                    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis raesentium voluptatum deleniti atque corrupti quos.
                    </p>
                </div>
            </div>
        </div>
    </div>
       
    <div class="about_contact_us">
    <div class="container">
    	<div class="row">
		
        	<div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8">
			
            		<div class="call_back_form">
					
                    	<h1>Contact Us</h1>
						
                    	<form name="aboutForm">
						
                        	<input placeholder="Name" name="uname" only-letters-input required ng-minlength="3" type="text" ng-model="user.name" />                     <span class="abt_err" ng-show="aboutForm.uname.$dirty && aboutForm.uname.$error.required">This is a required field</span>
							<span class="abt_err" ng-show="aboutForm.uname.$dirty && aboutForm.uname.$error.minlength">Minimum length required is 3</span>
                            
                            <select class="test_design">
                            	<option>+91 INDIA</option>
                            </select>
                            <input placeholder="Mobile Number" type="text" ng-model="user.mobileno" name="phno" numbers-only required ng-minlength="10" ng-maxlength="13"/>
                            <div class="clearfix"></div>
							
            				
							<span class="abt_err_num" ng-show="aboutForm.phno.$dirty && aboutForm.phno.$error.required">This is a required field</span>
							<span class="abt_err_num abt_err_nums" ng-show="aboutForm.phno.$dirty && aboutForm.phno.$error.minlength">Minimum length required is 10</span>
							<span class="abt_err_num" ng-show="aboutForm.phno.$dirty && aboutForm.phno.$error.maxlength">Mobile Number is too long</span>
		
                            <button class="btn_style" ng-click="callBack(user);">Get Call Back</button>
							
                        </form>                        
                    </div>
                </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
    </div>
  <script type="text/ng-template" id="myModalContent.html">
         <div class="modal-header">
           <h3 class="modal-title">Message</h3> 
        </div> 
        <div class="modal-body">
            <b>{{ message}}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	 
         		<script type="text/javascript">
		$(document).ready(function() {
		$('.test_design').niceSelect();
		});
</script>
    
    
    
  
