 
 <div class="clearfix"></div>
 <div class="footer_main">
    	<div class="container">
        	<div class="row first_row">
            	<div class="col-lg-5 col-md-5 col-sm-5">
                	<div class="footer_about">
                	<h1>About us</h1>
                    <p>
Homes247.in is the global real estate aggregator aspiring to be on the top of real estate market by offering premier property solutions in the digital world. Trust, Integrity, Excellence and Service (TIES) are the core values which inspires us to serve the top services to our clients. 
We are a family of passionate real estate professionals enriched with years of excellence in real estate market. Our relationship with the top class builders and strong knowledge in the market makes us stand out of the crowd and enables us to deliver best in class real estate solution for our clients and assist them to buy and create living spaces at the best price. 
<br /><br />
We connect and engage buyers and sellers 24/7 across India and provide end to end assistance. Our unique process combines a wide range of quality abodes for our clients and our proficient consultant provides the perfect property guidance to enhance the property search until they find their dream home. We delight our valuable customers and handhold them with value added services such as Home loan assistance, Interior consultation, Property Rental management services, Reselling and more.
With us, NRI's can relieve the stress on investing their wealth on the right property. We are there round the clock to cater all the requirements of our NRI clients.
<br /><br />
Our motto is to provide the pivotal real estate advisory solution for the neoteric customer and extend one step more for our clients by creating positive and fruitful experiences on their journey to exquisite home.
                    </p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">                	
                    <div class="footer_right_links">
                    	<h1>Real Estate In India</h1>
                        <ul ng-repeat="city_details in cities">
                        	<li><a ui-sref="city({cityname:city_details.city,locality:'',buliderId:'',reraId:''})">Properties For Sale In {{city_details.city}}</a></li>
                            
                        </ul>
                    </div>
                    <div class="footer_right_links">
                    	<h1>Property Type</h1>
                        <ul>
                        	<li><a >Apartments For Sale In India</a></li>
                            <li><a >Villas in India</a></li>
                            <li><a >New Apartments For Sale In India</a></li>
                            <li><a >Upcoming Apartments For Sale In India</a></li>
                            <li><a >Resale Apartments In India</a></li>
                        </ul>
                    </div>
                    <div class="footer_right_links">
                    	<h1>Properties In India</h1>
                        <ul ng-repeat="city_details in cities">
                        	<li><a ui-sref="city({cityname:city_details.city,locality:'',buliderId:'',reraId:''})">Property in {{city_details.city}}</a></li>
                          
                        </ul>
                    </div>
                    <div class="footer_right_links mrgLft15">
                    	<h1>Builders</h1>
                        <ul ng-repeat="builder in builders | limitTo:quantity">
                        	<li><a ui-sref="city({cityname:'',locality:'',buliderId:builder.buliderInfo_IDPK,reraId:''})">{{builder.buliderInfo_name}}</a></li>
                           
                        </ul>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="footer_end_info">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-4 col-md-4 col-sm-4">
                    	<div class="visit_us">
                        	<span>
                        		<img src="images/foote_location_icon.png" alt="" />
                            </span>
                            <h4>
                            	Visit us
								<small>No. 25, MG Road, Bengaluru, Karnataka</small>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<div class="visit_us">
                        	<span>
                        		<img src="images/footer_phone_icon.png" alt="" />
                            </span>
                            <h4>
                            	Contact us
								<small>India1800-103-132-6  Toll Free  (9am to 9pm) <br />e-mail : customer.service@homes247.in</small>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<div class="follow_us_icon">
                        	<h5>Follow us</h5>
                            <ul>
                            	<li><a class="fb" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a class="insta" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a class="twitt" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a class="linked" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>